body{
	margin: 0;
	padding: 0;
	color: #5D6468;
}

*:not(.icon) {
	font-family: 'Roboto', sans-serif !important;
}

h1 {
	font-weight: 400 !important;
}

.header{
	display: flex;
	width: 100%;
	height: 10vh;
	background-color: #5D6468;
}

.header-logo{
	display: flex;
	justify-content: center;
	width: 5%;
	height: 100%;
}

	.header-logo img{
		height: 100%;
		width: auto;
	}

.content{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90vh;
	background-color: #fff;
}

.welcome-msg{
	padding: 0.5rem !important;
	text-align: center;
}

	.welcome-msg h2, .welcome-msg h3 {
		margin: 0;
		padding-bottom: 1rem;
	}

	.welcome-msg h2{
		font-weight: 100;
		font-size: 4rem;
	}

		.u-choose, .uuml {
			font-family: 'Quicksand', sans-serif !important;
		}

		.uuml {
			color: #FAA21B;
		}

	.welcome-msg h3{
		font-weight: 300;
		font-size: 2rem;
	}

	.start {
		text-align: center;
	}

.search-box, .classes-added{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 50%;
}

	.search-loading{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.search-wrap{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.addButton {
		background-color: #FFA300 !important;
		color: #fff !important;
	}

	.search-buttons{
		padding: 5% 0;
	}

	.titleDropdown >*, .codeDropdown >*{
		margin-right: 0.5rem !important;
	}

.classes-added{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 25vh;
	background-color: #0054A6;
	color: #fff;
}

	.classes-added-list, .title, .course-title, .course-list-element, .classes-added-wrap{
		width: 100%;
	}

		.classes-added-wrap{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			height: 40vh;
		}

		.classes-list-header{
			font-weight: bold;
		}

		.title-span, .course-span, .credits-span, .remove-span{
			display: inline-block;
		}

		.course-list-element{
			display: flex;
			justify-content: center;
		}

		.title-span{
			width: 40%;
		}

		.course-span{
			width: 15%;
		}

		.credits-span{
			width: 10%;
		}

		.remove-span{
			width: 6rem;
		}

	.schedules-title{
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 1rem 0;
	}

	.back-schedules, .back-no-schedules {
		color: #d3d3d3;
	}

	.back-schedules:hover, .back-no-schedules:hover {
		cursor: pointer;
		color: #FAA21B;
	}

.schedules{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
}

.schedules-content{
	width: 70%;
}

	.slick-arrow{
		color: black !important;
	}

	.not-scheduled {
		padding: 4rem;
		position: relative;
		top: 2rem;
	}

.dateTimeLimit{
	padding: 0.5rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	border-bottom: 1px solid rgba(34,36,38,.15);
}
	.dateTimeLimit span{
		font-size: 1.5em;
	}
	.days{
		padding-left: 1vh;
	}

.restrictions .actions {
	background-color: #5D6468 !important;
	color: #fff;
}

.restrictions-wrap{
	min-height: 25vh;
}
	.restriction{
		padding-top: 0.5rem;
		padding-left: 1rem;
		list-style: none;
	}

	#generate {
		background-color: #0054A6 !important;
		color: #fff !important;
	}

	#generate:hover {
		background-color: #002E6D !important;
	}

.dayCheckboxes{
	display: inline-block;
	width: auto;
}

.loading-box, .no-schedules {
	width: 100%;
	height: 90vh;
	background-color: #fff;
	position: absolute;
	top: 10vh;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

	.loading-wrapper {
		text-align: center;
		width: 30%;
	}

	.loading-wrapper h2, .no-schedules h2 {
		font-weight: 300 !important;
	}

	.sad-face {
		width: 15%;
	}

	.sad-face img {
		width: 100%;
	}

.schedules-box{
	width: 100%;
}


.remove {
	text-decoration: underline;
}

.hide{
	display: none;
}

/*Loading animation from http://tobiasahlin.com/spinkit/ */

.sk-folding-cube {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg); }
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FAA21B;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%; }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg); }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg); }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg); }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
